body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px 0;
}

form input, form button, form label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

li form {
    display: inline-block;
    vertical-align: middle;
}

.alert {
    color: red;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f4f4f4;
}

.pagination span {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    font-weight: bold;
}
